<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A-Level AutoEval</title>
  </head>
  <body>
    <h1>the question is blablabla</h1>
    <form action="/" method="post">
    <textarea name="comments" id="comments" style="width:96%;height:90px;background-color:silver;color:olive;border:none;padding:2%;font:22px/30px sans-serif;">
    Enter here your answer
    </textarea>
    <input type="submit" value="Submit" style="background-color:yellowgreen;color:white;padding:5px;font-size:18px;border:none;padding:8px;">
    </form>
  </body>
</html>
